@using SocialPulse.Core.ViewModels
@model UserLinkStyleViewModel

@{
    ViewData["Title"] = "Wybór stylu linków użytkownika " + Model.UserName;
}

<h2>Wybierz Styl Linka</h2>

<div id="currentStyleContainer" class="mt-3 mb-20">
    <button id="currentStyleButton" class="btn btn-lg m-2 @Model.CurrentUserLinkStyle">Aktualny Styl</button>
</div>

@using (Html.BeginForm("SaveStyle", "Settings", FormMethod.Post, new { id = "styleForm" }))
{
    @Html.AntiForgeryToken()
    <div class="button-container d-flex flex-wrap">
        @foreach (var style in Model.UserLinkStyles)
        {
            <div>
                <button name="userLinkStyle"
                        value="@style"
                        class="btn btn-lg m-2 @style"
                        data-style="@style"
                        type="button"
                        onclick="selectStyle(this)">
                    Wybierz
                </button>
            </div>
        }
    </div>
}


@section Scripts {
    <script src="~/js/link-styles.js" asp-append-version="true"></script>
}

