@using SocialPulse.Core.ViewModels
@model UserLinkStyleViewModel

@{
    ViewData["Title"] = "Wybór stylu linków użytkownika " + Model.SocialProfile.SocialPulseUser!.UserName;
}

<h2>Wybierz Styl Linka</h2>

<div id="currentStyleContainer" class="mt-3 mb-20">
    <button id="currentStyleButton" class="btn btn-lg m-2 @Model.SocialProfile.UserLinkStyle">Aktualny Styl</button>
</div>

@using (Html.BeginForm("SaveStyle", "Settings", FormMethod.Post, new { id = "styleForm" }))
{
    @Html.AntiForgeryToken()
    <div class="button-container d-flex flex-wrap">
        @foreach (var style in Model.UserLinkStyles)
        {
            <div>
                <button name="userLinkStyle"
                        value="@style"
                        class="btn btn-lg m-2 @style"
                        data-style="@style"
                        type="button"
                        onclick="selectStyle(this)">
                    Wybierz
                </button>
            </div>
        }
    </div>
}

@section Scripts {
    <script>
        
        function selectStyle(button) {
            const selectedStyle = $(button).data('style');

            const form = $('#styleForm');

            const token = form.find('input[name="__RequestVerificationToken"]').val();

            const formData = new FormData();
            formData.append("userLinkStyle", selectedStyle);
            formData.append("__RequestVerificationToken", token);

            $.ajax({
                url: '/Settings/SaveStyle',
                method: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    if (!response.isSuccess) {
                        console.error(response.message);
                        alert("Coś poszło nie tak.");
                        return;
                    }

                    const currentStyleButton = $('#currentStyleButton');
                    currentStyleButton.attr('class', `btn btn-lg m-2 ${response.data}`);
                    currentStyleButton.text('Aktualny Styl');

                },
                error: function (xhr, status, error) {
                    console.error('Error saving style:', error);
                    alert('Wystąpił błąd podczas zapisywania stylu.');
                }
            });
        }

    </script>
}

